/*===============================================
game views ======================================
/*===============================================*/

body {
	margin: 0 auto;
	overflow-y: scroll;
	font-family: helvetica, arial, times;
	background-color: #ffffff;
	background-image: url(http://www.transparenttextures.com/patterns/climpek.png);
}

a {
	text-decoration: none;
}

.user-view {
	text-align: center;
}

.user-view h1 {
	font-size: 50pt;
}

.user-view h4 {
	font-size: 20pt;
}

.form-box input {
	text-align: center;
	margin: 10px;
	width: 300px;
	height: 40px;
	border: 2px solid black;
}

.submit-butt {
	text-align: center;
	margin: 10px;
	width: 200px;
	height: 40px;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
}

div.container {
	border: 2px solid black;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	width: 1200px;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
	background-color: #FFFFFF;
}

#menu {
	height: auto;
	padding: 5px;
	font-size: 15px;
	text-align: right;
	background-color: #DBDBDB;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
}

div.gameboard {
	position: relative;
	float: left;
	width: 910px;
	overflow: hidden;
}

#question {
	height: 60px;
	text-align: center;
	font-size: 16pt;
	border-bottom: 2px solid black;
	color: white;
	background-color: black;
	padding: 2px;
}

#question p {
	margin: 0px;
}

#cards-in-play {
	text-align: center;
	border-bottom: 2px solid #000000;
	margin: 0 auto;
	padding: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2afd9c+0,23cdfc+25,9840fb+50,fc6769+75,fffe9f+100 */
	background: rgb(42,253,156); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(42,253,156,1) 0%, rgba(35,205,252,1) 25%, rgba(152,64,251,1) 50%, rgba(252,103,105,1) 75%, rgba(255,254,159,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(42,253,156,1) 0%,rgba(35,205,252,1) 25%,rgba(152,64,251,1) 50%,rgba(252,103,105,1) 75%,rgba(255,254,159,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(42,253,156,1) 0%,rgba(35,205,252,1) 25%,rgba(152,64,251,1) 50%,rgba(252,103,105,1) 75%,rgba(255,254,159,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2afd9c', endColorstr='#fffe9f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#user-cards {
	overflow: hidden;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

div.sidebar {
	position: relative;
	float: right;
	padding: 10px;
	width: 268px;
	background-color: #FFFFFF;
	border-left: 2px solid black;
}

.profile-receiver {
	overflow: hidden;
	text-align: center;
	height: 150px;
	border-bottom: 2px dotted black;
}

/*#game-status {
	height: 150px;
	border-bottom: 2px dotted black;
}*/

#messages {
	height: 300px;
	border: 2px solid black;
	overflow-y: scroll;
	padding: 5px;
	list-style: none;
	word-wrap: break-word;
	text-align: justify;
}

#message {
	height: 43px;
	width: 200px;
	border: 2px solid black;
}

.chat button {
	margin-left: 10px;
	vertical-align: top;
	width: 50px;
	height: 50px;
	border: 2px solid black;
}

/*===============================================
Giphy Cards =====================================
===============================================*/

#user-cards {
	text-align: center;
	display: inline-block;
}

#user-cards div {
	display: inline-block;
	width: auto;
	height: 130px;
	overflow: hidden;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	line-height: 140px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2afd9c+0,23cdfc+25,9840fb+50,fc6769+75,fffe9f+100 */
	background: rgb(42,253,156); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(42,253,156,1) 0%, rgba(35,205,252,1) 25%, rgba(152,64,251,1) 50%, rgba(252,103,105,1) 75%, rgba(255,254,159,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(42,253,156,1) 0%,rgba(35,205,252,1) 25%,rgba(152,64,251,1) 50%,rgba(252,103,105,1) 75%,rgba(255,254,159,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(42,253,156,1) 0%,rgba(35,205,252,1) 25%,rgba(152,64,251,1) 50%,rgba(252,103,105,1) 75%,rgba(255,254,159,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2afd9c', endColorstr='#fffe9f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#user-cards img {
	border-radius: 10px;
	max-width: 290px;
	height: 130px;
}

#selected {
	opacity: 0.4;
}

img#winner {
	opacity: 0.4;
}

#cards-in-play ul {
	margin: 0 auto;
	padding: 0px;
}

#cards-in-play h3 {
	margin: 0 auto;
	padding: 0px;
}

#cards-in-play li {
	display: inline-block;
	overflow: auto;
	margin: 10px;
}

.cards-in-play-list img {
	height: 130px;
	max-width: 200px;
	border-radius: 10px;
	border: 2px solid #000000;
}

#user-selected {
	border-radius: 10px;
	border: 2px solid #000000;
	width: auto;
	height: 130px;
}

#winning-card {
	height: 130px;
	width: auto;
	border-radius: 10px;
}

/*#winner {
	border:solid black 5px;
}

Game Board
div#cards-in-play {

}

User Hand
div#user-cards {

}*/


/*//////////////////////////////
// Navigation Bar and Buttons //
//////////////////////////////*/

li.nav-tool {
	display: inline-block;
}

#nav-bar {
	display: inline-block;
	margin: 0;
}

#nav-profile {
	cursor: pointer;
}

#nav-logout {
	cursor: pointer;
}

/*///////////
// Profile //
/////////////*/

/*template.sidebar {
	text-align: center;
	margin: 0 auto;
}*/

#profile-actions {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 15px;
}

.profile-actions-item {
	cursor: pointer;
	display: inline-block;
}
